# Model files
*.iml
*.xml
*.pyc
*.pth

# Dataset and outputs
*.zip
*.png
*.html
*.txt

# Checkpoints
checkpoints/

# Python cache
__pycache__/
*.pyo

# Mac junk
.DS_Store
__MACOSX/

# VS Code
.vscode/